# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Explicit binary types (avoid EOL conversion / text diffs on these)
*.png binary
*.jpg binary
*.jpeg binary
*.ogg binary
*.wav binary
*.ttf binary
*.otf binary
